*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.column{
    float: none;
     
    width: 25%;
    padding: 0px 10px;

}
#box{
    width:100% ;
    text-align: center;
    background-color: purple;
    height: 235px;
    color: white;
    padding: 20px;

}

.row{
    margin: 0px -5px;
    display: flex;
    flex-wrap: wrap;

}

.row:after{
    content: "";
    display: table;
    clear: both;
}
.card{
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
}

#btn{
    width: 200px;
    height: 50px;
    box-shadow: 0 5px 5px 0px rgb(197, 218, 15);
    background-color: yellow;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

@media screen and (max-width:600px) {
    .column{
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
    
}